{
  "name": "file_manager_module",
  "description": "Module Summary Information",
  "version": "1.0.0",
  "settingDefines": [
    {
      "name": "text",
      "defaultValue": "Dummy text",
      "description": "text description",
      "display": "Text Input",
      "type": "input"
    },
    {
      "name": "number",
      "defaultValue": 1234,
      "description": "number description",
      "display": "number",
      "type": "number"
    },
    {
      "name": "selection",
      "defaultValue": "option1",
      "description": "selecttion description",
      "display": "Selection",
      "type": "select",
      "options": [
        "option1",
        "option2"
      ]
    },
    {
      "name": "switch",
      "defaultValue": true,
      "description": "switch description",
      "display": "boolean",
      "type": "switch"
    },
    {
      "name": "textarea",
      "defaultValue": "textareaDefault",
      "description": "textarea description",
      "type": "textarea"
    }
  ]
}