<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="CmsLang" value="en" />
		<!-- <add key="AllowUsers" value="*" /> -->
		<!-- <add key="AllowOrgs" value="*" /> -->
		<!-- <add key="port" value="8080"/>
		<add key="proxy" value="true"/>  -->
		<!-- <add key="DisableJob" value="true"/>  -->
		<!-- <add key="MaxNormalExportSize" value="1024"/>  -->
		<add key="DefaultUser" value="admin, admin" /> 
	</appSettings>
</configuration>