[
  {
    "id": "a38a292a-6f63-345a-cea2-184a9b92d22e",
    "domainId": "00000000-0000-0000-0000-000000000000",
    "subDomain": null,
    "organizationId": "292f2321-577a-a7a5-4389-4a0e4a801fc3",
    "webSiteId": "9ab2fa41-1962-1535-6ce0-935b9b7b5ec1",
    "fullDomain": "excalidraw.localkooboo.com",
    "device": null,
    "redirect": null,
    "culture": null,
    "ipAddress": null,
    "port": 0,
    "isDefaultPortBinding": false
  }
]